<mat-sidenav-container class="example-container " *ngIf="shouldRun">
  <mat-sidenav class = "size-container" #sidenav [mode]="mode.value" [(opened)]="opened">
    <p>
     
      <a routerLink="/home">Home</a></p>  
      <p><a routerLink="/cliente">Clientes</a></p>
       <p><a routerLink="/funcionario">Funcionários</a></p> 
       <p><a routerLink="/agendamento">Serviços</a></p> 
       <p><a routerLink="">Estoque</a></p>
  
    
  </mat-sidenav>

  <mat-sidenav-content>
      <button class="button-e" mat-mini-fab (click)="sidenav.toggle()">
          <mat-icon>list</mat-icon>
        </button>
        <div class="div-container">
          <h1 mat-dialog-title>Home</h1>
          <div>
            
          </div>

          </div>
      
  </mat-sidenav-content>
</mat-sidenav-container>