<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav
    class="size-container"
    #sidenav
    [mode]="mode.value"
    [(opened)]="opened"
  >
    <p>
      <a routerLink="/home">Home</a>
    </p>
    <p><a routerLink="/cliente">Clientes</a></p>
    <p><a routerLink="/funcionario">Funcionários</a></p>
    <p><a routerLink="/agendamento">Serviços</a></p>
    <p><a routerLink="/home">Estoque</a></p>
    <p><a routerLink="/administracao">Administração</a></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="button-e" mat-mini-fab (click)="sidenav.toggle()">
      <mat-icon>list</mat-icon>
    </button>
    <div class="div-container">
      <div>
        <h1 mat-dialog-title>Agendamento OS</h1>
        <div mat-dialog-content class="inputSelect">
          <mat-form-field class="select">
            <mat-label>Cliente:</mat-label>
            <input
              type="text"
              placeholder="Digite o nome do Cliente"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='getCliente($event.option.value)'>
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option.nome_razaosocial }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div mat-dialog-content class="inputSelect">
          <mat-form-field class="select">
            <mat-label>Funcionário:</mat-label>
            <mat-select (selectionChange)="getInnerText($event.value)" [(value)]="selected">
              <mat-option *ngFor="let topping of funcionarioList"  [value]="topping.id_funcionario">{{topping.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div mat-dialog-content class="inputSelect">
          <mat-form-field>
            <mat-label>Data Agendamento:</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="date" (dateInput)="onDate($event)" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1 ></mat-datepicker>
          </mat-form-field>
        </div>
        <div mat-dialog-content class="inputSelect">
          <mat-form-field class="select">
            <mat-label>Prioridade:</mat-label>
            <mat-select
              [(value)]="selected"
              (selectionChange)="getPrioridade($event.value)"
            >
              <mat-option value="1">Verde</mat-option>
              <mat-option value="2">Amarelo</mat-option>
              <mat-option value="3">Vermelho</mat-option>
              <mat-option value="4">Roxo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div mat-dialog-content class="inputSelect">
          <mat-form-field>
            <mat-label>Assunto: </mat-label>
            <input matInput [(ngModel)]="assunto"/>
          </mat-form-field>
        </div>
        <div mat-dialog-content class="inputSelect">
          <mat-form-field appearance="fill">
            <mat-label>Observações: </mat-label>
            <textarea matInput [(ngModel)]="observacao"></textarea>
          </mat-form-field>
        </div>
        <div mat-dialog-actions></div>
      </div>
      <div class="example-button-row">
        <button
          mat-raised-button
          color="accent"
          cdkFocusInitial
          (click)="incluirOS()"
        >
          Salvar
        </button>
        <button mat-raised-button color="accent" (click)="voltar()" >
          Voltar
        </button>
      </div>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
